*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('img/wallhaven-dpo38l_1920x1080.png');
}

#canvas {
  border: 1px solid rgb(203, 142, 228);
  width: 850px;
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  box-shadow: 0,0,10px #333;
  cursor: none;
}

#tiaozhan {
  position: fixed;
  width: 550px;
  height: 210px;
  right: 162px;
  top: -90px;
}

#btnstart {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10%;
  background-color: rgb(28, 79, 173);
  color:gold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 23px;
  left: 47%;
}

#btnstart:hover {
  background-color: bisque;
  color: darkorchid;
}

#hunscd {
  position: fixed;
  top: 6px;
  height: 212px;
  width: 580px;
  left: 196px;
}

#good {
  width: 262px;
  height: 321px;
  position: absolute;
  top: 23%;
  left: 40%;
  display: none;
}

#cheep {
  width: 300px;
  height: 290px;
  position: absolute;
  top: 27%;
  left: 38%;
  display: none;
}